<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgN30O98lqW_6OEOX7PzkXpK7LUg8I2N4</string>
	<key>GCM_SENDER_ID</key>
	<string>144705129084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUtsmobile</string>
	<key>PROJECT_ID</key>
	<string>mobile-firebase-61857</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-firebase-61857.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144705129084:ios:23f160ea1a1520b4ae57f9</string>
</dict>
</plist>